@model List<Product>

@{
    ViewBag.Title = "Головна";
    Layout = "_Layout";
}

<section class="page__main main-block">
	<div class="main-block__container">
		<div class="main-block__content">
			<div class="main-block__category category">
				<h1 class="category__title title">
					Категорії
				</h1>
				<div class="category__cards cards-category">
					<div class="cards-category__card-category card-category">
						<a asp-controller="Product" asp-action="GetProductsByCategory" asp-route-category="Electronics">
							<div class="card-category__image">
								<picture><source srcset="~/img/laptop.svg" type="image/svg+xml"><img src="img/cover.jpg" alt=""></picture>
							</div>
							<h4 class="card-category__title">
								Електроніка
							</h4>
						</a>
					</div>
					<div class="cards-category__card-category card-category">
						<a asp-controller="Product" asp-action="GetProductsByCategory" asp-route-category="Clothing_and_footwear">
							<div class="card-category__image">
								<picture><source srcset="~/img/tshirt.svg" type="image/svg+xml"><img src="img/cover.jpg" alt=""></picture>
							</div>
							<h4 class="card-category__title">
								Одяг та взуття
							</h4>
						</a>
					</div>
					<div class="cards-category__card-category card-category">
						<a asp-controller="Product" asp-action="GetProductsByCategory" asp-route-category="Home_goods">
							<div class="card-category__image">
								<picture><source srcset="~/img/home.svg" type="image/svg+xml"><img src="img/cover.jpg" alt=""></picture>
							</div>
							<h4 class="card-category__title">
								Домашні товари
							</h4>
						</a>
					</div>
					<div class="cards-category__card-category card-category">
						<a asp-controller="Product" asp-action="GetProductsByCategory" asp-route-category="Sports_and_recreation">
							<div class="card-category__image">
								<picture><source srcset="~/img/bed.svg" type="image/svg+xml"><img src="img/cover.jpg" alt=""></picture>
							</div>
							<h4 class="card-category__title">
								Спорт та відпочинок
							</h4>
						</a>
					</div>
					<div class="cards-category__card-category card-category">
						<a asp-controller="Product" asp-action="GetProductsByCategory" asp-route-category="Beauty_and_care">
							<div class="card-category__image">
								<picture><source srcset="~/img/mirror.svg" type="image/svg+xml"><img src="img/cover.jpg" alt=""></picture>
							</div>
							<h4 class="card-category__title">
								Краса та догляд
							</h4>
						</a>
					</div>
					<div class="cards-category__card-category card-category">
						<a asp-controller="Product" asp-action="GetProductsByCategory" asp-route-category="Food_and_beverages">
							<div class="card-category__image">
								<picture><source srcset="~/img/plant.svg" type="image/svg+xml"><img src="img/cover.jpg" alt=""></picture>
							</div>
							<h4 class="card-category__title">
								Їжа та напої
							</h4>
						</a>
					</div>
					<div class="cards-category__card-category card-category">
						<a asp-controller="Product" asp-action="GetProductsByCategory" asp-route-category="Cars_and_motorcycles">
							<div class="card-category__image">
								<picture><source srcset="~/img/car.svg" type="image/svg+xml"><img src="img/cover.jpg" alt=""></picture>
							</div>
							<h4 class="card-category__title">
								Автомобілі та мотоцикли
							</h4>
						</a>
					</div>
					<div class="cards-category__card-category card-category">
						<a asp-controller="Product" asp-action="GetProductsByCategory" asp-route-category="Products_for_pets">
							<div class="card-category__image">
								<picture><source srcset="~/img/beer.svg" type="image/svg+xml"><img src="img/cover.jpg" alt=""></picture>
							</div>
							<h4 class="card-category__title">
								Товари для тварин
							</h4>
						</a>
					</div>
					<div class="cards-category__card-category card-category">
						<a asp-controller="Product" asp-action="GetProductsByCategory" asp-route-category="Tools_and_equipment">
							<div class="card-category__image">
								<picture><source srcset="~/img/tool.svg" type="image/svg+xml"><img src="img/cover.jpg" alt=""></picture>
							</div>
							<h4 class="card-category__title">
								Інструменти та обладнання
							</h4>
						</a>
					</div>
					<div class="cards-category__card-category card-category">
						<a asp-controller="Product" asp-action="GetProductsByCategory" asp-route-category="Books_and_media">
							<div class="card-category__image">
								<picture><source srcset="~/img/folder.svg" type="image/svg+xml"><img src="img/cover.jpg" alt=""></picture>
							</div>
							<h4 class="card-category__title">
								Книги та медіа
							</h4>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page__product product-block">
	<div class="product-block__container">
		<div class="product-block__content">
			<div class="product-block__product product">
				<div class="product__slider swiper">
					<div class="product__wrapper swiper-wrapper">
						@if(Model.Count >= 10)
						{
							foreach(var product in Model.Take(10))
							{
								<a asp-controller="Product" asp-action="GetProduct" asp-route-id="@product.Id">
									<div class="product__slide swiper-slide">
										<div class="product__card">
											<div class="product__image">
												<picture><source srcset="img/cover.webp" type="image/webp"><img src="data:image/jpeg;base64,@Convert.ToBase64String(product?.Photo ?? Array.Empty<byte>())" alt="@product.Name" /></picture>
											</div>
											<div class="product__title">
												@product.Name
											</div>
											<div class="product__price">
												@product.Price
											</div>
										</div>
									</div>
								</a>
							}
						}
						else
						{
							foreach (var product in Model)
							{
								
									<div class="product__slide swiper-slide">
										<a asp-controller="Product" asp-action="GetProduct" asp-route-id="@product.Id">
											<div class="product__card">
												<div class="product__image">
												<img src="data:image/jpeg;base64,@Convert.ToBase64String(product?.Photo ?? Array.Empty<byte>())" alt="@product.Name" style="max-width: 120px;" />
												</div>
												<div class="product__title">
													@product.Name
												</div>
												<div class="product__price">
													@product.Price
												</div>
											</div>
										</a>
									</div>
							}
						}
					</div>
					<div class="swiper-scrollbar"></div>
				</div>
			</div>
		</div>
	</div>
</section>

@section pageScripts
    {
    <script>

        $('#btnHideId').click(function () {
            $('#ulListId').hide(2000);
        });

        $('#btnShowId').click(function () {
            $('#ulListId').show(2000);
        });
    </script>
}
