@model ProductViewModel

@{
    Layout = "_Layout";
}

<form id="Mess">
    <div class="row">
        <div class="col-md-12">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model?.Image ?? Array.Empty<byte>())"
                 class="img-fluid rounded-start rounded">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="@Model.Name" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Name">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Price" class="col-form-label"></label>
            <input type="text" class="form-control" asp-for="@Model.Price" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="@Model.Description" class="col-form-label"></label>
            <textarea type="text" class="form-control" asp-for="@Model.Description"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 text-white">
            <p>@Model.Category</p>
        </div>
        <div class="form-group col-md-6 text-white">
            <p>@Model.SubCategory</p>
        </div>
        <div class="form-group col-md-6 text-white">
            <p>@Model.DateCreate</p>
        </div>
    </div>
</form>

@if (User.Identity.IsAuthenticated)
{
    @foreach (var message in Model.ChatMessages)
    {

        if ((message.User1Name == User.Identity.Name || message.User1Name == Model.OwnerName)
        && (message.User2Name == User.Identity.Name || message.User2Name == Model.OwnerName))
        {

            if (message.User1Name == User.Identity.Name || message.User2Name == User.Identity.Name)
            {
                <div class="Chat__Left_User">
                    <p>@message.Message</p>
                    <p>@message.Timestamp</p>
                </div>
            }
            else
            {
                <div class="Chat__Right_User">
                    <p>@message.Message</p>
                    <p>@message.Timestamp</p>
                </div>
            }

        }
        <p>@message.Message</p>
        <p>@message.Timestamp</p>
    }

    <div id="messages">
    </div>


    <form id="chat-form">
        <input type="text" id="message-input" name="message" />
        <input type="button" id="sendButton" value="Send Message" />
    </form>
}



<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/clientHub.js"></script>

@*<a asp-controller="Product" asp-action="Chat" asp-route-id="@Model.Id" class="btn btn-danger">Написати</a>*@

@section pageScripts {

    <script>
        var myModel = @Html.Raw(Json.Serialize(Model));
        var userNameSender = "@User.Identity.Name";
    </script>

}

<style>
    label {
        color: black;
    }
</style>
