@model IPagedList<Product>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewBag.Title = "Список товарів";
    Layout = "_Layout";
}

@{
    var cardStyle = "col-md-12";
    if (Model != null)
    {
        switch (Model.Count)
        {
            case 2:
                cardStyle = "col-md-6";
                break;
            case 3:
                cardStyle = "col-md-4";
                break;
        }
    }
}

<style>
    .card-buttons-group {
        text-align: right;
        padding: 10px;
    }
</style>

@if (Model == null)
{
    <section class="page__getproducts getproducts-block">
        <div class="getproducts-block__container">
            <div class="getproducts-block__content">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-center">Список оголошень пустий :(</h5>
                        <p class="card-text">
                            Список поповниться пізніше, не засмучуйтеся
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="page__getproducts getproducts-block">
        <div class="getproducts-block__container">
            <div class="getproducts-block__content">
                @foreach (var product in Model)
                {@if (product.isAuction == "true")
                    {
                        <a asp-controller="Product" asp-action="GetAuctionProduct" asp-route-id="@product.Id">
                            <div class="getproducts-block__product-card product-card">
                                <div class="product-card__image">
                                    @if (product.MainPhoto != null)
                                    {
                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(product?.MainPhoto ?? Array.Empty<byte>())" alt="@product.Name" style="max-width: 120px;" />
                                    }
                                    else
                                    {
                                        <img src="https://via.placeholder.com/216x152" />
                                    }
                                </div>
                                <div class="product-card__title">
                                    <span>@product.Name</span>
                                </div>
                                <div class="product-card__date">
                                    <span>@product.DateCreate.ToString("dd MMMM yyyy")</span>
                                </div>
                                <div class="product-card__price">
                                    <span>@product.Price грн.</span>
                                </div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Product" asp-action="GetProduct" asp-route-id="@product.Id">
                            <div class="getproducts-block__product-card product-card">
                                <div class="product-card__image">
                                    @if (product.MainPhoto != null)
                                    {
                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(product?.MainPhoto ?? Array.Empty<byte>())" alt="@product.Name" style="max-width: 120px;" />
                                    }
                                    else
                                    {
                                        <img src="https://via.placeholder.com/216x152" />
                                    }
                                </div>
                                <div class="product-card__title">
                                    <span>@product.Name</span>
                                </div>
                                <div class="product-card__date">
                                    <span>@product.DateCreate.ToString("dd MMMM yyyy")</span>
                                </div>
                                <div class="product-card__price">
                                    <span>@product.Price грн.</span>
                                </div>
                            </div>
                        </a>
                    }
                }
                <div class="getproducts-block__pagination pagination-container">
                    @Html.PagedListPager(Model, page => Url.Action("GetProducts", new { page }) )
                </div>
            </div>
        </div>
    </section>
}

@section pageScripts {

    <script src="~/js/modal.js"></script>
    <script>
        let modal = $('#modalWhButtons');

        $('#compareBtnId').on('click', function (){
            $.ajax({
                type: 'GET',
                url : '@Url.Action("Compare")',
                success: function (response) {
                    $('.modal-dialog').addClass("modal-lg");
                    modal.find(".modal-body").html(response);
                    modal.modal('show')
                }
            });
        });

        $(".btn-close").click(function(){
             modal.modal('hide');
        });

        $('#addProductId').on('click', function () {
            $.ajax({
               type: 'GET',
                url: '/Product/Save',
               success: function (response) {
                   $('.modal-dialog').removeClass("modal-lg");
                   modal.find(".modal-body").html(response);
                   modal.modal('show')
               },
               failure: function () {
                 modal.modal('hide')
               },
               error: function (response) {
                   alert(response.responseText);
               }
           });
        });

    </script>
}